@import "../app.component.scss";

footer {
    width: 100%;
    margin-top: 10px;
    background-color: $cor-secundaria;
    color: $preto;

    .container {
        width: 1140px;
        display: flex;
        margin: auto;

        .copyright {
            width: 75%;
            font-size: $media;
            font-family: $fonte-secundaria;

            p {
                padding-top: 30px;
            }
        }

        .social-links {
            width: 25%;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            ul {
                display: flex;
                padding: 0;
                margin: 0;
                flex-direction: row-reverse;

                li {
                    list-style-type: none;
                    padding-top: 20px;
                    padding-right: 16px;

                }
            }

        }
    }
}