<div class="container">
    <h2>BEM-VINDOS AO PLAYSTATION PARADISE!</h2>
    <section class="quem-somos-details">
        <img [src]="foto" alt="Foto de {{ titulo }}" />
        <div class="quem-somos-description">
            <p>{{ description }}</p>
            <p class="red" id="red1">{{ description2 }}</p>
            <p class="red">{{ description3 }}</p>
            <p>{{ description4 }}</p>
            <p class="red">{{ description5 }}</p>
            <p>{{ description6 }}</p>
            <p class="red">{{ description7 }}</p>
            <p>{{ description8 }}</p>
            <p>{{ description9 }}</p>
        </div>
    </section>
</div>