@import "../app.component.scss";

.container {
    width: 1140px;
    margin: auto;
    min-height: calc(100vh - 224px);
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    justify-content: flex-start;

    h2 {
        padding: 30px;
        font-size: 32px;
        line-height: 32px;
        font-family: "Aero";
        font-weight: normal;
        border-radius: 10px;
        text-transform: uppercase;
        background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.quem-somos-details {
    display: flex;
    gap: 30px;
    align-items: center;

    img {
        width: 33.8%;
    }

    .quem-somos-description {
        width: 100%;

        p {
            font-family: $fonte-secundaria;
            color: $cor-secundaria;
            font-size: $media;
            line-height: $grande;
        }

        .red {
            background: #333;
            color: #fff;
            padding: 0.5%;
            border-radius: 5px;
        }

        #red1 {
            text-align: center;
            margin: 5%;
            background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.5vw;
        }
    }
}