<div class="container">
    <h1> Olá {{ nome + " " + sobrenome }}!</h1>
    <!-- <h2>{{ data | date : 'dd    /MM/YYYY' }}</h2> -->
    <section id="jogos-favoritos">
        <h2>Confira aqui os seus jogos favoritos:</h2>
        <mat-grid-list cols="3" rowHeight="3:6">
            <div *ngFor="let jogo of jogos; let i = index">
                <mat-grid-tile *ngIf="jogo.favorito">
                    <mat-card>
                        <img mat-card-image [src]="jogo.foto" [alt]="jogo.titulo" />
                        <mat-card-content>
                            <h3>{{ jogo.titulo }}</h3>
                            <ul>
                                <li>Lançamento: {{ jogo.lancamento}}</li>
                                <li>Gênero: {{ jogo.genero}}</li>
                                <li>Estúdio: {{ jogo.estudio }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button [class]="jogo.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="jogo.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button (click)="toogleFavorito(i)">
                                <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon=⭐></mat-icon>
                            </button>
                            <button mat-button (click)="verDetalhes(jogo.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>>
        </mat-grid-list>>
    </section>
    <section id="lista-jogos">
        <h2>Todos os jogos:</h2>
        <mat-grid-list cols="3" rowHeight="3:6">
            <div *ngFor="let jogo of jogos; let i = index">
                <mat-grid-tile>
                    <mat-card>
                        <img mat-card-image [src]="jogo.foto" [alt]="jogo.titulo" />
                        <mat-card-content>
                            <h3>{{ jogo.titulo }}</h3>
                            <ul>
                                <li>Lançamento: {{ jogo.lancamento}}</li>
                                <li>Gênero: {{ jogo.genero}}</li>
                                <li>Estúdio: {{ jogo.estudio }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button [class]="jogo.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="jogo.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button (click)="toogleFavorito(i)">
                                <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon=⭐></mat-icon>
                            </button>
                            <button mat-button (click)="verDetalhes(jogo.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
</div>
<script>
    ScrollReveal().reveal('.box');
    ScrollReveal().reveal('.container');
</script>
<script src="index.js"></script>